
 
  #mid-Content {
    margin: 5rem 2rem;
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .hero-section{
    display: flex;

  }
  .hero-img{
    width: 350px;
    height: 350px;
    margin-bottom: 100px;
  }
  h1.title {
    /* padding: 20px 0; */
    font-weight: bold;
    /* grid-area: b; */
    /* align-self: flex-end; */
    max-width: 400px;
    padding-left: 20px;
    margin-left: 100px;
  }
  
  .title span {
    font-size: 30px;
    color: #f96a05;
  }
  p.welcome-msg {
    max-width: 400px;
    /* grid-area: c;
    align-self: flex-end; */
    margin-bottom: 50px;
    margin-top: 100px;
    margin-right: 250px;
  }
  .start-btn {
    /* grid-area: d; */
    /* align-self: start; */
    /* justify-self: start; */
    background-color: transparent;
    color: #f96a05;
    width: 50%;
    border: 2px solid #f96a05;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .start-btn:hover {
    color: #f0f2f5;
    background-color: #f96a05;
    margin-bottom: 4px;
  }
  main{
    min-height: 570px;
  }
  .start-btn a:hover{
    color: #f0f2f5;
    background-color: #f96a05;
    margin-bottom: 4px;


  }
  .start-btn a{
    background-color: transparent;
    color: #f96a05;
    font-size: 1.5rem;
    transition: 0.3s;
    text-decoration: none;
  }