* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

div.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 2.4rem;
    background-color: #343a40;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    /* position: fixed; */
    position: sticky;
    top: 0;
}

.logo img {
    width: 1.5rem;
    height: 1.5rem;
    justify-content: start;
    text-align: start;
    padding-left: 0rem;
}

h1>span {
    color: var(--mainColor);
}

ul {
    display: flex;
    flex-wrap: wrap;
    font-size: .7rem;
    /* font-weight: bolder; */
    list-style-type: none;
    justify-content: center;
    justify-self: center;
    text-align: justify;
}

li {
    padding-left: .6rem;
    padding-right: .6rem;
    color: white;

}

a {
    color: white;
    text-decoration: none;

}

li:hover {
    cursor: pointer;
    color: orange;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: orange;
    transition: .2s;
}

#cartIcon {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    /* flex-grow: 1; */

}

#prodsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 600px;
    flex-grow: 1;
    padding-top: 20px;
    justify-content: center;
}

.prodDiv {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgb(99 99 99 / 20%);
    max-width: 350px;
    transition-property: all .1s linear;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0s;
    width: 100%;
    margin: 31px;
}

.prodDiv:hover {
    transition: all .1s linear;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.productImg {
    display: block;
    max-height: 160px;
    /* object-fit: cover; */
    width: 100%;
    vertical-align: middle;
}

.prodInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

.addCart {
    width: 99.9%;
    height: 40px;
    background-color: #11919f;
    font-size: 17px;
    color: white;
    border: 1px solid whitesmoke;
    margin-bottom: 3px;

}

.addCart:hover {
    background-color: #43cbda;
    cursor: pointer;
}

#ctgDiv {
    display: flex;
    justify-items: start;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 30px;
    align-items: center;
    /* justify-content:; */
}

.ctg,
.all {
    font-size: 16px;
    font-weight: bold;
    width: 50px;
    height: 100%;
    background-color: transparent;
    margin-right: 14px;
    border: none;
}

.all {
    margin-right: 0px;
}

span {
    font-size: 16px;
    font-weight: bold;
    color: #f96a05
}

footer {
    display: flex;
    height: 2rem;
    background-color: #343a40;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

#footer-list {
    color: white;
    width: 100%;
    justify-items: center center;
    font-size: .9rem;
}

/* Home Styling */

#homeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%vh;
    flex-grow: 1;
    padding: 120px;
    justify-content: center;
}

#imgDiv {
    width: 40%;
    justify-content: end;
    margin-right: 40px;

}

#homeImg {
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* display: block; */
    width: 97%;
    justify-self: end;

}

#homeInfo {
    width: 40%;
    column-gap: 20px;
    align-items: center;
    padding-top: 15px;
}

#title {
    margin-bottom: 10px;
}

#p1 {
    font-size: 35px;
    font-weight: bold;
    color: gray;
    margin-bottom: 8px;
}

#p2 {
    font-size: 40px;
    color: #f96a05;
    font-weight: bolder;
}

#p3 {
    font-size: 20px;
    font-weight: bold;
    color: gray;
    margin-bottom: 30px;
}


#lets-btn {

    color: #f96a05;
    font-size: 18px;
    height: 35px;
    width: 170px;
    background-color: white;
    border: 2px solid #f96a05;
    transition: 0.3s;
}

#lets-btn:hover {
    color: white;
    background-color: #f96a05;
    /* border: 2px solid orange */
}