* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 40px;
    align-content: center;
}

#container {
    display: flex;
    justify-content: center;
    height: 520px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
    box-shadow: 0px 1px 36px -7px rgba(0, 0, 0, 0.38);
    border-radius: 30px;
}

form {
    text-align: center;
    padding: 30px
}

.input {
    width: 380px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 7px;
    margin: 0;
    margin-bottom: 15px;
}

.input:hover {
    border: none;
    outline: 2px solid rgb(23, 222, 244);
}

.label {
    margin-right: 320px;

}

.email {
    margin-bottom: 15px;
}

.bag {
    display: flex;
    justify-content: center;
}

.bag img {
    width: 150px;
    height: 150px;
}

.check {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.forget {
    text-decoration: none;
    margin-top: 10px;
}


.sign {
    margin-top: 5px;
}

.sign .btn3 {
    width: 365px;
    height: 35px;
    border-radius: 7px;
    color: white;
    background-color: rgb(2, 2, 58);
}

#registerBtn {
    margin-top: 15px;
}

input {
    margin-bottom: 0;
}

span.msg {
    color: red;
    font-size: 15px;
}